body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: 'Arial';
    color: white;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    background:rgba(0,0,0,0.5);
    position: fixed;
    bottom:100px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border:5px solid rgba(0,0,0,0.1);
    border-radius:3px;
}

.slot {
    margin:5px;
    flex: 0 1 auto;
    align-self: auto;
    background:rgba(0,0,0,0.3);
    border:1px solid rgba(0,0,0,0.4);
    height:75px;
    width:75px;
    position: relative;
    display: inline-block;
}

.slot img {
    object-fit: scale-down;
    width:75px;
    height:75px;
    opacity: 0.75;
}

.slot .quantity {
    position:absolute;
    bottom:0;
    right:0;
    z-index: 1;
    font-size:11px;
    font-weight:bold;
    text-shadow:1px 1px rgba(0,0,0,0.4);
    padding:5px;
    background:rgba(0,0,0,0.5);
    border:1px solid rgba(0,0,0,0.4);
}

.slot:hover img {
    opacity: 1.0;
}

.slot:hover .options {
    display: block;
    width:75px;
}

.slot .options {
    display: none;
    position:absolute;
    z-index: 1;
    background:rgba(0,0,0,0.8);
    border:1px solid rgba(0,0,0,0.4);
    padding:3px 0;
}

.slot .options a {
    color:#eee;
    display:block;
    padding:5px 5px;
    text-decoration:none;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    text-shadow:1px 1px rgba(0,0,0,0.4);
}

.slot .options a:hover {
    background:rgba(0,0,0,0.9);
}